[package]
name = "nex_runtime"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["lib", "staticlib"]

[dependencies]
libc = "0.2"
rand = "0.8"
serde_json = "1"
