[package]
name = "nexc_meta"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
nexc_diag = { path = "../nexc_diag" }

