[package]
name = "nex_torch_native"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
libc = "0.2"
tch = "0.22"
